<%
page_title t('shared.labels.model_object_title',
             label: t('activerecord.models.experiment', count: 1),
             label_value: @experiment.title)
%>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @experiment,
          index_path: admin_experiments_path,
          show_path: admin_experiment_path,
          edit_path: edit_admin_experiment_path
                }
  %>
</div>

<%= render partial: 'shared/experiment_show' %>
