<% model_class = Category %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.category', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @category,
          show_path: admin_category_path(@category),
          index_path: admin_categories_path
                }
  %>
</div>

<%= render partial: 'form' %>
