<% page_title t('.title') %>

<div class='about-text'>
	<%= simple_format( t('.text') ) %>
</div>

<div class='about-funding'  style="text-align: center;">
	<%= t('.funding') %>

</div>

<div style="text-align: center;">
  <%= image_tag('embassy_logo.gif', width: 250) %>
</div>
