
<% if @categories.present? %>
  <ul class="list-inline">
    <% @categories.each do |category| %>
      <li>
        <%= link_to experiments_path(category: category.slug), class: 'btn btn-default' do %>
          <%= category.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments') %>
  </p>
<% end %>