
<!-- uses index_categories.scss -->
<div class = "index_categories">


<% if @categories.present? %>
  <ul class="categories_main">
      <li class = "logo">
        <%= image_tag('Logo_mecnieri.svg', class: 'logo_image') %>
      </li>

    <% @categories.each do |category| %>
      <li>
        <!-- had to put image first, then text. couldn't find a good way to position them if they were in reverse order -->
          <%= link_to(image_tag(category.logo.url, class: 'categoty_image'), experiments_path(category: category.slug))%>
          <%= link_to category.title, experiments_path(category: category.slug), class: 'index_text' %>          
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments') %>
  </p>
<% end %>
</div>
