html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.app-footer-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.app-footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0;
  color: #4f4f4f;
  height: $footer-height;
}

.app-footer-right {
  float: right;
}

.app-footer-left {
  float: right;
  margin: 0;
  margin-right: 10px;
}
