
.navbar {
    margin: 0 !important;
    display: flex;
   	justify-content: center;
   	padding: 40px 0;
    background-color: transparent;
    border-color: transparent;
    border: 0 !important;
    color: $navigation-color;
    .container {
      width: 100%;
    }
}

body.experiment_show .navbar, body.about .navbar {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }

    .logo_image {
      width: 150px;
      height: 150px;
    }

    form {
      border: none;
    }
}


.navbar .navbar-right {
  margin: 0;

  #search-form {
    height: auto;
    border-color: $navigation-color !important;
    box-shadow: none !important;
    border-right: 3px solid;
    margin: 0;
  }

  li, a {
    font-size: 23px;
    line-height: 32px;
    font-family: 'BebasNeue-Bold';
  }

}

.navbar .search-input {
  height: auto;
  border: none;
  padding: 0;
  background-color: inherit;
  box-shadow: none;
  text-align: right;
  font-size: 23px;

  &::-webkit-input-placeholder {
     color: $navigation-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: $navigation-color; 
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $navigation-color; 
  }

  &:-ms-input-placeholder {  
     color: $navigation-color;
  }

}


.navbar .about-element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    padding: 0 15px;
    color: $navigation-color !important;
    transition: all 0.3s;
    &:hover, &:focus {
      color: white !important;
    }
  }

}

.navbar .dropdown { 
  z-index: 10;
  text-align: right;
  padding-right: 15px;
  color: $navigation-color !important;

  &.open > a, &.open > a:hover, &.open > a:focus,
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus  {
    background-color: transparent !important;
  }

  .dropdown-menu {
    box-shadow: 0 6px 12px rgba(135, 135, 135, 0.175);
  }

  a {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    color: inherit !important;
    transition: 0.3s;
  }

  li {
    text-align: right;
  }


}



body.about, body.experiments{
   .navbar .about-element a {
        &:hover, &:focus {
          color: #f68b3a !important;
        }
    }
}



@media screen and (max-width: 767px) {
  .navbar .navbar-right #search-form {
    border-color: rgba(0,0,0,0.2) !important;
    border-right: none;
  }

  .navbar .dropdown{
    a {
      text-align: right;
      padding-right: 0 !important;
    }
  }

  .navbar .about-element {
    padding: 10px 15px;
  }

  body.experiment_show .navbar, body.about .navbar {
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: auto;
      margin: 0;
    }

    .container > * {
      text-align: left;
    }

    ul, li {
      margin: 10px 0 10px 0;
    }

    input {
      text-align: left;
    }

    form {
      width: 90vw;
      padding: 5px;
      margin: 0;
    }

    .dropdown{
      a {
        text-align: left;
        padding: 5px !important;
        color: $navigation-color !important;
      }
    }


    .about-element {
      justify-content: flex-start;
      padding-left: 0;
      a {
      padding-left: 5px;
      }
    }

  }


}
