
body.about {
	font-size: 10px;

	.navbar {
		background-color: white;
	}


	.container {
		width: 1400px;
		padding: 0;
	}

	.navbar .about-element a {
	    &:hover, &:focus {
	      color: #a4a4a4 !important;
	    }
	}
 
 	main .container {
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 		text-align: center;
	    font-family: DejaVuSans;

 		h1 {
			padding-left: 10px;
			font-family: 'BebasNeue-Bold';
			letter-spacing: 4px;
			color: #2c1a4d;
			margin-bottom: 0;
 		}

 		div {
 			padding: 15px 10px;
 			font-size: 1.75rem;
		    line-height: 3rem;
		    color: #7d7979;
 		}

 		.about-text {
 			width: 860px;
 		}

 		p {
 			margin: 0;
 		}

 		.about-funding {
 			width: 600px;
 			position: relative;
  			z-index : 1;
  			display: flex;
  			align-items: center;
  			flex-direction: column;
 		}

		.about-funding:before {
		  content : "";
		  top: 0;
		  height: 1px;
		  width: 50%;  /* or 100px */
		  border-bottom: 3px solid #b6b6b6;
		  margin-bottom: 20px;
		}

		img {
			width: 140px;
			height: auto;
		}

 	}

}


@media screen and (max-width: 1500px) {
	body.about .container{
		width: 90vw;
	}
}

@media screen and (max-width: 920px) {
	body.about main .container{
		
		.about-text {
 			width: 90vw;
 		}

 		.about-funding {
 			width: 80vw;
 		}
	}
}

@media screen and (max-width: 767px) {
	body.about 	main .container {
 		align-items: flex-start;
 		text-align: left;
	}

	body.about 	main .container .about-funding {
		align-items: flex-start;
 		text-align: left;
	}

}

@media screen and (max-width: 500px) {
	body.about .container{
		width: 98vw;
	}
	 
 	body.about main .container {
 		h1 {
 			font-size: 2.5rem;
 		}

 		div {
 			font-size: 1.5rem;
 			padding: 15px 10px;
 		}

 		img {
			width: 120px;
			height: auto;
		}

 	}


}