
body.about {
	.container {
		width: 1400px;
	}

	.navbar {

	    .container {
	    	flex-direction: row;
	   	    align-items: center;
	    	justify-content: space-between;
	    	margin: 0;
	    }

	   .logo_image {
	   		width: 150px;
	   		height: 150px;
	   }

	   form {
	   		border: none;
	   }
	}
 

}