/* adjusting compnents for the categories page*/

body.root.experiments .container {
	padding: 0px;
	width: 95vw;
}
body.root.experiments .container .main {
	width: 20%;
	height: 100px;
}
body.root.experiments .navbar-brand{
  display: none;
}
body.root.experiments .navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0;
}

body.root.experiments .app-footer {
  background-color: transparent;
}

/* styling for "categories" bar */

body.root.experiments .exp-categories ul{
  text-align: center;
}

body.root.experiments .exp-categories li{
  display: inline-block;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #2D1E49;
  text-align: center;
  height: 110px;
  width: 110px;
  position: relative;
  text-align: center;
}
body.root.experiments .exp-categories .categoty_image {
  position: absolute;
  left: 0;
  top: 0;
}
body.root.experiments .exp-categories .categoty_image svg {
  width: 110px;
  height: 98px;

}

body.root.experiments .exp-categories .index_text {
  z-index: 100;
  position: absolute;
  top: 70px;
  font-size: 16px;
  color:inherit;
  left: 50%;
  transform: translateX(-50%);
}

body.root.experiments .exp-categories .index_text a{
  color: inherit;
}


body.root.experiments .exp-categories .logo_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 110px;
  width: 110px;
}

body.root.experiments .exp-categories .categories-list {
	margin-right: 4vw;
	margin-left: 4vw;
}

body.root.experiments .exp-categories li.seled {
  background-color: #999;
  .index_text{
    color: inherit;
  }
  svg{
    background-color: #999;
  }
}

body.root.experiments .exp-categories li:hover {
  color:#596dd5;
  background-color: #666;
  svg{
    background-color: #666;
  }
}

body.root.experiments .exp-categories .index_text a:hover{
  text-decoration: none;
  color:inherit;
}

/* adjusting sizes to have elements in single row (column for mobile)*/

@media (max-width: 1600px) {
  body.root.experiments .exp-categories .categories-list {
    margin-right: 3vw;
    margin-left: 3vw;
}

}

@media (max-width: 1250px) {
  body.root.experiments .exp-categories .categories-list {
    margin-right: 1vw;
    margin-left: 1vw;
}

}

@media (max-width: 1075px) {
  body.root.experiments .exp-categories .categories-list {
    margin-right: 0vw;
    margin-left: 0vw;
}
  body.root.experiments .lcategories_main{
    padding-left: 0px;
  }
}

@media (max-width: 840px) {
  body.root.experiments .lcategories_main{
    padding-left: 0px;
  }
}

@media (max-width: 790px) {
  body.root.experiments .exp-categories .categories-list{
    width: 90%
  }
  body.root.experiments .exp-categories .categoty_image {
    left: 50%;
    transform: translateX(-50%);
  }
  body.root.experiments .exp-categories .logo_image {
    left: 50%;
    transform: translateX(-50%);
  }
  body.root.experiments .exp-categories .index_text {
    font-size: 14px
}

}


/* smaller sized experiments*/
body.root.experiments .exp-list{
  text-align: center;
}
body.root.experiments .exp-list li{
  display: inline-block;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #2D1E49;
  text-align: center;
  height: 430px;
  width: 426px;
  position: relative;
  text-align: center;
}

body.root.experiments .exp-list .big {
    width: 600px;
    height: 605px;
}


body.root.experiments .exp-list .exp-thumbnail1{
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: black;
  height: 284px;

}

body.root.experiments .exp-list li:hover .exp-thumbnail1{
  display: none;
}
body.root.experiments .exp-list li .exp-thumbnail2{
  display: none;

}
body.root.experiments .exp-list li:hover .exp-thumbnail2{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 284px;
  background-color: black;
}

body.root.experiments .exp-list .exp-text {
  width:240px;
  z-index: 100;
  position: absolute;
  top: 260px;
  font-size: 16px;
  color:inherit;
  left: 50%;
  transform: translateX(-50%);
}

body.root.experiments .exp-list .exp-title{
  display: block;
  background-color: green;
  color: white;
  height: 54px;
}

body.root.experiments .exp-list .exp-description{
  display: block;
  background-color: white;
  color: black;
}
/* larger sized experiments*/
body.root.experiments .exp-list .big {
    width: 600px;
    height: 605px;
}
body.root.experiments .exp-list .big .exp-thumbnail1 {
  height: 400px;
}

body.root.experiments .exp-list .big:hover .exp-thumbnail2 {
  height: 400px;
}

body.root.experiments .exp-list .big .exp-text {
  width: 350px;
  top: 370px;
}

/* under 1450px making all experiments same size */
@media (max-width: 1450px) {
  body.root.experiments .exp-list .big {
    height: 430px;
    width: 426px;

}
body.root.experiments .exp-list .big .exp-thumbnail1 {
  height: 284px;
}

body.root.experiments .exp-list .big:hover .exp-thumbnail2 {
  height: 284px;
}

body.root.experiments .exp-list .big .exp-text {
  width:240px;
  top: 260px;
}
}

#more-links-sp {
  display: block;
  height: 60px;
  width: 80vw;
  background-color: #2e2d2c;
  position: relative;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  clear: both;
}
#load_more_link {
  width:240px;
  z-index: 100;
  position: absolute;
  top: 15px;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
#load_more_link:hover{
  text-decoration: none;
}


body.root.experiments .exp-list li:hover {
.exp-description {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
 }
}


