$text-color: #2E1A4D;
$c_start_w: 1370px;
$big_thumb_w: 660px;
$small_thumb_w: 430px;


/* adjusting compnents for the categories page*/

body.root.experiments a:hover, a:focus {
  text-decoration: none;
  outline: none;
}


body.root.experiments .container {
	padding: 0px;
	width: $c_start_w;
}

body.root.experiments .navbar .search-input {

  &::-webkit-input-placeholder {
     color: $text-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: $text-color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $text-color;
  }

  &:-ms-input-placeholder {  
     color: $text-color;
  }

}


body.root.experiments .navbar .about-element a {
  color: $text-color !important;
}


body.root.experiments .about-element{
  font-family: 'BebasNeue-Bold';
  font-size: 20px;
  color: #323C71;
  a {
    color: #323C71;
  }
}

body.root.experiments .container .main {
	width: 20%;
	height: 100px;
}

body.root.experiments .navbar-brand{
  display: none;
}

body.root.experiments .navbar-default {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    background-color: #ffffff !important; 
}

body.root.experiments .app-footer {
  background-color: transparent;
}

/* styling for "categories" bar */

body.root.experiments .exp-categories ul{
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

body.root.experiments .exp-categories li{
  display: inline-block;
  color: #2D1E49;
  position: relative;
  text-align: center;

  .white-element {
    fill: white;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #category_img_qimia {
    padding-right: 15px;
  }

  #category_img_fizika {
    padding-left: 10px;
  }

}

body.root.experiments .exp-categories .category_image svg {
  width: 110px;
  height: 98px;
}

body.root.experiments .exp-categories .index_text {
  z-index: 100;
  font-size: 24px;
  color: $text-color;
  font-family: BebasNeue-Bold;
  letter-spacing: 4px;

  a {
    color: $text-color; 
  }
}


body body.root.experiments .exp-categories .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.root.experiments .exp-categories .logo_image {
  height: 130px;
  width: 130px;
}

body.root.experiments .exp-categories .categories-list {
}

body.root.experiments .exp-categories li.seled {
  -moz-border-radius: 40px;
  border-radius: 25px;
  .index_text{
    color: inherit;
  }

  a {
    color: inherit;
  }

}

body.root.experiments .exp-categories li:hover {
  color:#596dd5;
}

body.root.experiments .exp-categories .index_text a:hover{
  text-decoration: none;
  color:inherit;
}




            /* EXPERIMENTS LIST */

body.root.experiments .exp-list{
  margin-top: 40px;
  text-align: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}


body.root.experiments .exp-list li{

  display: inline-block;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #2D1E49;
  text-align: center;
  position: relative;
  text-align: center;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .exp-thumbnail {
    overflow: hidden;
  }

  .exp-thumbnail .thumb-image{
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .exp-thumbnail .thumb-image.first-image.hover-effect {
    animation: reverse-scaling 1s;
    animation-fill-mode: forwards;
  }

  .exp-thumbnail .thumb-image.second-image {
    display: none;
  }

  &.big {
    .exp-thumbnail {
      width: $big_thumb_w;
      height: 380px;
    }

    .exp-text {
      width: 500px;
    } 

    .exp-description {
       height: 130px;
    }

  }

  &.big:nth-child(odd) {
    margin-right: calc((#{$c_start_w} - 2*#{$big_thumb_w}) / 2);
  }

  &.big:nth-child(even) {
    margin-left: calc((#{$c_start_w} - 2*#{$big_thumb_w}) / 2);
  }

  &.smaller {
    .exp-thumbnail {
      width: $small_thumb_w;
      height: 280px;
    }

    margin-right: calc((#{$c_start_w} - 3*#{$small_thumb_w}) / 6);
    margin-left: calc((#{$c_start_w} - 3*#{$small_thumb_w}) / 6);
  }

}



body.root.experiments .exp-list li:hover {
  .exp-thumbnail .first-image{
    display: none;
  }

  .exp-thumbnail .second-image{
    display: block;
    animation: scaling 1s;
    animation-fill-mode: forwards;
  }

  .exp-text {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 53px 3px rgba(0,0,0,0.15);
   }

}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}


@keyframes reverse-scaling {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

body.root.experiments .exp-list li:not(:hover) {
  .exp-text {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: none;
  }
}


body.root.experiments .exp-list .exp-text {
  width:300px;
  font-size: 16px;
  color:inherit;

  position: relative;
  top: -40px;
  z-index: 100;
}

body.root.experiments .exp-list .exp-title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  height: 54px;
  font-size: 1.4em;
  font-family: BebasNeue-Bold;
  letter-spacing: 3px;
}

body.root.experiments .exp-list .big .exp-title{
  font-size: 1.6em;
}

body.root.experiments .exp-list .exp-description {
  display: flex;
  padding: 20px 5px 0 5px;
  margin: 0;
  height: 160px;
  background-color: white;
  color: black;
  font-family: DejaVuSans;
  line-height: 30px;
}


/* larger sized experiments*/
#load_more_link {
  display: block;
  height: 60px;
  margin-top: 30px;
  padding-top: 12px;
  color: white;
  background-color: #2C1A4E;
  font-family: BebasNeue-Bold;
  font-size: 25px;
  letter-spacing: 2px;
  span {
    color: gray;
  }
}

#load_more_link:hover{
  text-decoration: none;
}


@media screen and (max-width: 1400px) {
  
  
  body.root.experiments .container {
    width: 95vw;
  }


  body.root.experiments .exp-list li{

    margin: 1vw;

    &.smaller {
      .exp-thumbnail {
        width: 43vw;
        height: 350px;
      }

      .exp-text {
          width: 35vw;
      }
    }

    &.smaller {
      margin-right: 15px !important;
      margin-left: 15px !important;
    }

  }


  body.root.experiments .exp-list ul{
      justify-content: center;
  }

}


@media screen and (max-width: 1100px) {


    body.root.experiments .exp-categories ul{
      justify-content: center;
    }
    body.root.experiments .exp-categories .logo {
      flex: 1 100%;
      margin-bottom: 50px;
    }
  
    body.root.experiments .exp-categories li:not(.logo) { 
      height: auto;
      display: flex;
      align-items: center;
      width: auto;
      margin: 20px;
    }

    body.root.experiments .categories-list {
      .index_text {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        transform: none;
        line-height: 24px;
        padding: 0 10px 0 10px;
      }

      .category_image {
        display: none;
      }
    }

    body.root.experiments .exp-list {
      margin-top: 0;
    }

}


@media screen and (max-width: 975px) {

    body.root.experiments .exp-list li{

      margin: 10px 0 10px 0;


      &.smaller {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .exp-thumbnail {
          width: 600px;
          height: 350px;
        }

        .exp-text {
          width: 500px;
        }

      }

  }

}


@media screen and (max-width: 700px) {

    body.root.experiments .exp-list li{

      &.smaller {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .exp-thumbnail {
          width: 90vw;
          height: 300px;
        }

        .exp-text {
          width: 80vw;
        }

      }

    }

}


@media screen and (max-width: 350px) {

  body.root.experiments .exp-list li{

    &.smaller {

      .exp-title {
        font-size: 1.2em;
      }

      .exp-thumbnail {
        width: 90vw;
        height: 250px;
      }

      .exp-text {
        font-size: 1em;
        width: 80vw;
      }

    }

  }

}