
body.root.experiment .container {
	padding-right: 0px;
	padding-left: 0px;
	width: 100vw;
	text-align: center;

}
body.root.experiment .inner-container{
	font-family: DejaVuSans;
}
body.root.experiment .primary-header {
	display: block;
	width: 100vw;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 20px;
}
body.root.experiment .primary-header h1{
	font-family: BebasNeue-Bold;
	font-size: 70px;
}
body.root.experiment .primary-header .experiment-selected-category{
	font-family: DejaVuSans;
	color: #fff;
}
body.root.experiment .primary-header .experiment-selected-category a{
	font-family: DejaVuSans;
	color: #fff;
}
body.root.experiment .primary-header .experiment-selected-category .experiment-selected-category-label{
	opacity: 0.7;
}
body.root.experiment .navbar {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    border: 0;
}

body.root.experiment .exp-intro {
	display: inline-block;
	width: 650px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	font-size: 24px;
}
body.root.experiment .exp-ingredients {
	display: block;
	width:100%;
	text-align: center;
}
body.root.experiment .exp-ingredients ul {
	display: inline-block;
	text-align: left;
	width: 650px;
}
body.root.experiment .exp-ingredients h3 {
	display: inline-block;
	width: 650px;
	text-align: left;
	font-size: 50px;
}
body.root.experiment .exp-ingredients li{
	list-style-type: circle;
	text-align: left;
	font-size: 22px;

}


body.root.experiment .exp-directions{
	padding-left: 20px;
	padding-right: 20px;
}
body.root.experiment .exp-directions ul{
	list-style: none;
}

body.root.experiment .exp-directions h3{
	display: inline-block;
	width:650px;
	font-size: 50px;
	text-align: left;
}
body.root.experiment .exp-directions .exp-directions-buttons{
	.direction-previous > svg{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	span{
		cursor: pointer;
		visibility:hidden;
		&.active{
			visibility:visible;
		}
	}

	svg.hover{
		display:none;
	}

	& > span:hover{
		svg.no-hover{
			display:none;
		}
		svg.hover{
			display:inline;
		}
	}


}
body.root.experiment .exp-directions > ul{
	padding-left: 0px;
	font-size: 22px;
}
body.root.experiment .exp-directions .exp-direction-item{
	display: none;
	list-style: none;
	width: 650px;
}
body.root.experiment .exp-directions .exp-direction-item.active{
	display: inline-block;
}
body.root.experiment .exp-directions .exp-direction-index{
	color: #fff;
}

body.root.experiment .exp-explanation {
	display: block;
	width: 100%;
	background-color: #f6f6f6;
	text-align: center;
}
body.root.experiment .exp-explanation h3{
	display: inline-block;
	width:650px;
	font-size: 50px;
	text-align: left;
}

body.root.experiment .exp-explanation p{
	display: inline-block;
	width: 650px;
	text-align: left;
	font-size: 24px;
}
body.root.experiment .app-footer {
  background-color: #f6f6f6;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
body.root.experiment main {
    margin-bottom: 41px;
    font-family: DejaVuSans;

}
body.root.experiment .category-font-color{
	font-family: BebasNeue-Bold;
	font-size: 60px;
}



@media (min-width:1300px){
	 /* desktop size; elements in reverse order */
	body.root.experiment .inner-container{
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	body.root.experiment .exp-direction-content{
		width: 40%;
		padding-top: 45px;
		float: left;
	}
	body.root.experiment .exp-directions .active{
		width: 100%;
	}
	body.root.experiment .exp-directions  .exp-directions-buttons{
		position: relative;
		top: 145px;
		width: 100px;

	}
	body.root.experiment .exp-directions .active	.exp-direction-images {
		float: right;
		width: 50%
	}
	body.root.experiment .exp-directions .active	.exp-direction-images img{
		width: 100%
	}
	body.root.experiment .exp-directions .exp-direction-index{
		height: 112px;
		width: 71px;
		position: relative;
		left: 51.5%;
		top: 60px;
		font-family: BebasNeue-Bold;
		font-size: 80px;
	}
	body.root.experiment .exp-directions h3{
		display: block;
		width: 40%;
		position: relative;
		top:120px;
		left: 30px;
		font-size: 60px;
	}

	body.root.experiment .exp-ingredients	.exp-igrendients-image {
		float: left;
		width: 50%
	}
	body.root.experiment .exp-ingredients	.exp-igrendients-image img{
		width: 100%
	}
	body.root.experiment .exp-ingredients ul {
		width: 40%;
	}
	body.root.experiment .exp-ingredients h3{
		width: 40%;
		font-size: 60px;
	}
	body.root.experiment .exp-ingredients{
		margin-top: 70px;
	}
	body.root.experiment .exp-intro {
		float: left;
		padding-bottom: 70px;
		width: 80%;
		margin-right: 10%;
	}
	body.root.experiment .primary-header h1{
		font-size: 140px;
	}


}
body.root.experiment .search-input{
  border: 0px;
  box-shadow: none;
  font-family: 'BebasNeue-Bold';
  color: #323C71;
  text-align: right;
  font-size: 20px;

}

body.root.experiment .about-element{
  font-family: 'BebasNeue-Bold';
  font-size: 20px;
  color: #323C71;
}