
/* index css*/

/* setting background color*/
body.root.index {
	background-color: #70BAF7;
}
body.root.index .app-footer {
	background-color: #70BAF7;
}
body.root.index .navbar-default {
    background-color: #70BAF7;
    border-color: #e7e7e7;
    border: 0;
}

body.root.index .container {

width:98vw;
}

/*  category blocks */
body.root.index .index_categories{
	text-align: center;
}
body.root.index .index_categories li{
	display: inline-block;
	margin: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
	color: #2D1E49;
	text-align: center;
  height: 359.662px;
  width: 442.212px;
  position: relative;
  text-align: center;
}
body.root.index .categoty_image {
  position: absolute;
  left: 0;
  top: 0;
}
body.root.index .index_text {
  z-index: 100;
  position: absolute;

  top: 240px;
  font-size: 38px;
  color:inherit;
  left: 50%;
  transform: translateX(-50%);
}
/* hover*/
body.root.index .index_categories li.category-item:hover {
	color:#596dd5;
  background-color: #666;
 .index_text:hover{
    text-decoration: none;
    color:inherit;
  }
  svg{
    background-color: #666;
  }
}

/* manages the text paragraph of the logo, seperate class because of seperate hover */
body.root.index .logo .logo-text {
  z-index: 100;
  position: absolute;
  top: 260px;
  text-align: center;
  font-size: 13px;
  left: 50%;
  transform: translateX(-50%);
  color: #2D1E49;

}
/* logo div */


/* logo image*/

body.root.index .logo_image{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

}



/* smartphone size, because icons are so large most margins removed*/

@media (max-width: 500px){

  .index_categories li, .logo{
  	margin-left: 0px;
  	margin-right: 0px;

  }
  body.root.index .container {

	width:100vw;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

}
