
/* index css*/

/* setting background color*/

@font-face
{
  font-family: 'BebasNeue-Bold';
  font-style: normal;
  src: image-url('fonts/BebasNeue-Bold.otf') format('opentype');
}

@font-face
{
  font-family: 'DejaVuSans';
  font-style: normal;
  /*   src: url('/assets/BPG%20DejaVuSans%202.ttf'); */
  src: image-url('fonts/BPG-DejaVuSans-2.ttf')  format('truetype');
}

/* Removing navbar search defaults*/

body.root.index .navbar-form{
  background-color: inherit;

}
body.root.index .search-input{
  background-color: inherit;
  border: 0px;
  box-shadow: none;
  font-family: 'BebasNeue-Bold';
  text-align: right;
  font-size: 20px;
  /* should box shadow also be removed? */

}

body.root.index {
	background-color: #70BAF7;
}
body.root.index .app-footer {
	background-color: #70BAF7;
}
body.root.index .navbar-default {
    background-color: #70BAF7;
    border-color: #e7e7e7;
    border: 0;
    .navbar-brand {
      display: none;
    }
}

body.root.index .about-element{
  font-family: 'BebasNeue-Bold';
  font-size: 20px;

}

body.root.index .container {

width:98vw;
}

/*  category blocks */
body.root.index .index_categories{
	text-align: center;
}
body.root.index .index_categories li{
	display: inline-block;
	margin: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
	color: #2D1E49;
	text-align: center;
  height: 359.662px;
  width: 442.212px;
  position: relative;
  text-align: center;
}
body.root.index .categoty_image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

body.root.index .index_text {
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  z-index: 100;
  position: absolute;
  font-family: 'BebasNeue-Bold';
  top: 240px;
  font-size: 38px;
  color:#2d1e49;
  left: 50%;
  transform: translateX(-50%);
}
/* hover*/
body.root.index .index_categories li.category-item:hover {
  /*
  background-color: #666;
  what is the correct color?
  */
  .index_text{
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    color: white;
  }
 .index_text:hover{
    text-decoration: none;
    color:white;
  }
  /*
  svg{
    background-color: #666;
  }
  */
}

body.root.index .index_text:not(:hover){
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #2d1e49;
}
body.root.index .index_categories li.category-item {
-moz-border-radius: 70px;
border-radius: 70px;
background-color: #6EB5F5;

}
/* manages the text paragraph of the logo, seperate class because of seperate hover */
body.root.index .logo .logo-text {
  z-index: 100;
  position: absolute;
  top: 270px;
  text-align: center;
  font-size: 13px;
  left: 50%;
  transform: translateX(-50%);
  color: #2D1E49;
  font-family: 'DejaVuSans';

}
/* logo div */


/* logo image*/

body.root.index .logo_image{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

}
body.root.index .index_categories .logo .hover-text{
  display: block;
  z-index: 100;
  position: absolute;
  top: 140px;
  text-align: center;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #2D1E49;
  visibility: hidden;
}


body.root.index .index_categories .logo:hover {
  .logo-text{
  visibility: hidden;
  }
  .logo_image{
  visibility: hidden;
  }
  .hover-text{
  visibility: visible;

  }
}

/* smartphone size, because icons are so large most margins removed*/

@media (max-width: 500px){

  .index_categories li, .logo{
  	margin-left: 0px;
  	margin-right: 0px;

  }
  body.root.index .container {

	width:100vw;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

}
