
/* index css*/

/* setting background color*/

$categories-color: #6eb5f5;


@font-face
{
  font-family: 'BebasNeue-Bold';
  font-style: normal;
  src: image-url('fonts/BebasNeue-Bold.otf') format('opentype');
}

@font-face
{
  font-family: 'DejaVuSans';
  font-style: normal;
  /*   src: url('/assets/BPG%20DejaVuSans%202.ttf'); */
  src: image-url('fonts/BPG-DejaVuSans-2.ttf')  format('truetype');
}

/* Removing navbar search defaults*/

body.root.index .navbar-form{
  background-color: #81BFFA;

}
body.root.index .search-input{
  background-color: inherit;
  border: 0px;
  box-shadow: none;
  font-family: 'BebasNeue-Bold';
  text-align: right;
  font-size: 20px;
  /* should box shadow also be removed? */

}

body.root.index {
	background-color: #81BFFA;
}
body.root.index .app-footer {
	background-color: #81BFFA;
}
body.root.index .navbar-default {
    background-color: #81bffa;
    border-color: #e7e7e7;
    border: 0;
    .navbar-brand {
      display: none;
    }
}

body.root.index .about-element{
  font-family: 'BebasNeue-Bold';
  font-size: 20px;
}

body.root.index  .about-element a {
  color: #323C71;
}

body.root.index .container {
  width:98vw;
}

/*  category blocks */

body.root.index .index_categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

body.root.index .index_categories li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

body.root.index .index_categories li{
	margin: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
	color: $categories-color;
  height: 359.662px;
  width: 442.212px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .white-element {
    fill: $categories-color;
  }
}

/*LOGO*/

body.root.index .logo-wrapper{
  padding-top: 40px;
  position: relative;
  &:hover {
    .logo {
        transform: rotateY(180deg);
        opacity: 0.1;
      }

    .hover-text {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }

}


body.root.index .logo-wrapper .hover-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
  

body.root.index .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  transition: all 0.4s;
  opacity: 1;
}


body.root.index .logo-wrapper .logo-back-text, body.root.index .logo-wrapper .hover-text {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #2D1E49;
  font-size: 30px;
  font-family: 'BebasNeue-Bold';
  letter-spacing: 2.5px;
  p {
    margin: 0;
  }  
} 

body.root.index .logo-wrapper .logo-back-text {
    opacity: 0.15;
}

 body.root.index .logo-wrapper .hover-text  {
    transition: all 0.4s;
    transform: rotateY(-180deg);
    opacity: 0;
 }



/* manages the text paragraph of the logo, seperate class because of seperate hover */
body.root.index .logo .logo-text {
  z-index: 100;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  color: #2D1E49;
  font-family: 'DejaVuSans';
  margin: 20px 0 40px 0;
  letter-spacing: 1px;
}



body.root.index .index_text {
  -moz-transition:0.80s;
  -webkit-transition:.8s;
  transition:0.8s;
  z-index: 100;
  font-family: 'BebasNeue-Bold';
  font-size: 38px;
  letter-spacing: 10px;
  color:#2d1e49;
  margin: 10px 0 40px 0;
}
/* hover*/
body.root.index .index_categories li.category-item:hover {
  /*
  background-color: #666;
  what is the correct color?
  */
  .index_text{
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    color: white;
  }
 .index_text:hover{
    text-decoration: none;
    color:white;
  }
  /*
  svg{
    background-color: #666;
  }
  */
}

body.root.index .index_text:not(:hover){
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:.8s;
  color: #2d1e49;
}

body.root.index .index_categories li.category-item {
  -moz-border-radius: 70px;
  border-radius: 70px;
  background-color: #6EB5F5;
}





body.root.index form-control > *{
  color: reds !important;
}


/* smartphone size, because icons are so large most margins removed*/

@media (max-width: 500px){

  .index_categories li, .logo{
  	margin-left: 0px;
  	margin-right: 0px;

  }
  body.root.index .container {

	width:100vw;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

}

