// This file contains all the variables used in this project's scss files.

$english-font-family: 'AbsaraSans', sans-serif;

$loading-indicator-size: 125px;
$footer-height: 41px;

$width-show-navigation: 950px;
$max-width-of-content: 1000px;
$width-content-overlap-top-image: 1000px;
$height-content-heading: 80px;

$padding-main-content: 30px;

$color-grey-background: #f3f3f4;
$color-grey-text: #66666d;
$color-brand: #1599D6;


// category colors
$biologia-color: #98d84d;
$injineria-color: #40b4f1;
$astronomia-color: #5e439c;
$qimia-color: #f9a334;
$fizika-color: #576adc;

